h2, h3 {
	color:#b2b2b2;
	text-align: center;
}

dd {
	font-weight: 600;
	color: var(--ion-color-light);
}
dt {
	padding: 8px 24px;
	border-bottom: dashed 1px var(--ion-color-secondary);
	color: var(--ion-color-medium);
	margin: 18px 24px;
}